@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700&family=Montserrat:wght@200;300;400&display=swap');

* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    --brand: hsl(158, 36%, 37%);
    --text: hsl(228, 12%, 48%);
}

body {
    background-color: hsl(30, 38%, 92%);
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

}

#container {
    display: flex;
    flex-direction: row;

    height: 475px;
    width: 600px;
    padding: 0;
    margin: 0;

    background-color: white;
    border-radius: 10px;
}

figure {
    margin: 0;
    padding: 0;
    width: 50%;
}

#product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 0;
}

#text {
    width: 50%;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

#product-type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 5px;

}

#product-name {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

#product-desc {
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.7;
}

#product-prices {
    display: flex;
    flex-direction: row;
    margin-top: 7.5%;
}

#new-price {
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--brand);
    font-size: 2em;
}

#old-price {
    align-self: center;
    margin-left: 10px;
    text-decoration: line-through;
}

#btn-cart {
    margin-top: 7.5%;
    width: 100%;
    height: 50px;
    border: none;

    background-color: var(--brand);
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: 0.15s;
}

#btn-cart:hover {
    background-color: #2b5c4a;
}

#cart-icon {
    margin-right: 7px;
    padding: 0;

}

/* Responsive */

@media only screen and (max-width: 620px) {
    #container {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 90%;
    }


    p {
        margin: 0;
    }

    figure {
        width: 100%;
        height: 40%;
    }

    #product-img {
        content: url(/images/image-product-mobile.jpg);
        width: 100%;

        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #product-type {
        margin-top: 10px;
        margin-bottom: -20px;
    }

    #text {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #btn-cart {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 330px),
(max-height: 700px) {
    h1 {
        font-size: 1.5em;
        margin-top: 20px;
    }

    #product-desc {
        margin-bottom: -10px;
    }
}